body{
	background-image: url("img/background.jpg");
}

.footer{
	width: 100%;
	height: 150px;
	margin-top: 250px;
	background-color: #444;
}

.footerText{
	font-family: 'Fjalla One', sans-serif;
	font-size: 50px;
	width: 478px;
    margin: 0 auto;
	color: #fff;
	line-height: 150px;
	text-transform: uppercase;
}

.infoBox{
	border: 2px solid rgba(0,0,0,0);
	transition: 0.3s;
	cursor: pointer;
	padding: 20px;
}

.scrollDown{
	position: absolute;
	left: 50%;
	bottom: 40px;
}

#scrollDownImage{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 50px;
	cursor: pointer;
}

.projectInfo{
	display: none;
	transition: 0.3s;
}

.mediaContainer {
	float: left;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.mediaContainer img, .mediaContainer iframe {
	width: 100%;
}

.description{
	/*margin-top: 90px;
	margin-left: 590px;
	position: absolute;
	width: 500px;
	line-height: 30px;*/
}

@media (min-width: 576px) {
	.description{
		float: left;
    	width: 50%;
    	padding-left: 15px;
	}
}

.description > span > a {
	color: #444;
	transition: 0.3s;
}

.description > span > a:hover {
	color: #000;
}

.imageBox{
	/*width: 1020px;
    margin: 0 auto;*/
}

.nameLogo{
	/*background: url('img/name.png');
	background-size: cover;*/
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}

.nameLogo h1 {
	font-size: 5em;
}

.logo{
	/*width: 215px;
	margin: 20px;
	float: left;*/
	background-size: 300px !important;
	height: 100px;
}

.logoContainer {

}

.labels{
	display: none;
	padding-top: 15px;
	/*float: left;
	margin-top: 35px;
	margin-left: 30px;*/
}

.label{
	padding: 5px;
	background-color: #444;
	float: left;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	margin: 10px;
    margin-left: 0;
    margin-top: 0;
	text-transform: uppercase;
}

.projectTitleContainer {

}

.projectTitleContainer .projectTitle{
	font-size: 35px;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	margin: 10px;
	margin-top: 50px;
}

#presentation{
	/*height: 100%;
	width: 100%;*/
}

.links{
	font-family: 'Fjalla One', sans-serif;
	font-size: 35px;
	margin: auto;
	/*width: 555px;
    margin: 0 auto;
	margin-top: 60px;*/
	text-transform: uppercase;
}

.link{
	text-decoration: none;
	color: #888;
	margin: 10px;
}

.link:hover{
	color: #000;
}

/* Colors for each project */

#peppypals{
	background: rgba(250, 200, 150, 0.5);
}

#argus{
	background: rgba(170, 217, 245, 0.5);
}

#brarwl{
	background: rgba(112, 155, 193, 0.5);
}

#operationgame{
	background: rgba(230, 164, 55, 0.5);
}

#untitledgame{
	background: rgba(255, 107, 8, 0.5);
}

#tidebanan{
	background: rgba(237, 112, 92, 0.5);
}

#hapticdrums{
	background: rgba(150, 242, 219, 0.5);
}

#happiness-health{
	background: rgba(106, 185, 195, 0.5);
}

#energyclock{
	background: rgba(255, 212, 69, 0.5);
}

#memonile{
	background: rgba(138, 190, 255, 0.5);
}

#kinectable{
	background: rgba(164, 255, 81, 0.5);
}

#visit{
	background: rgba(164, 96, 93, 0.5);
}

#battlefieldDB{
	background: rgba(115, 97, 32, 0.5);
}

#tictactoe{
	background: rgba(119, 119, 119, 0.5);
}

/* Logos */

#peppypalslogo{
	background: url('img/peppypals-logo.png') no-repeat center center;
}

#arguslogo{
	background: url('img/argus-logo.png') no-repeat center center;
}

#untitledgamelogo{
	background: url('img/untitledgame-logo.png') no-repeat center center;
}

#brarwllogo{
	background: url('img/brarwl-logo.png') no-repeat center center;
}