body{
	background-image: url("img/background.jpg");
}

.footer{
	background-color: #444;
	padding: 20px;
}

.footerText{
	font-family: 'Fjalla One', sans-serif;
	font-size: 30px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	min-height: 100px !important;
	line-height: 100px;
}

.footerText span {

}

.infoBox{
	border: 2px solid rgba(0,0,0,0);
	transition: 0.3s;
	cursor: pointer;
	padding: 20px;
}

.scrollDown{
	position: absolute;
	left: 50%;
	bottom: 40px;
}

#scrollDownImage{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 50px;
	cursor: pointer;
}

.projectInfo{
	display: none;
}

.mediaContainer {
	float: left;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.mediaContainer img, .mediaContainer iframe {
	width: 100%;
}

.description{
	/*margin-top: 90px;
	margin-left: 590px;
	position: absolute;
	width: 500px;
	line-height: 30px;*/
}

@media (min-width: 576px) {
	.description{
		float: left;
    	width: 50%;
    	padding-left: 15px;
	}
}

@media (max-width: 400px) {
	.nameLogo h1 {
	    font-size: 4em !important;
	}

	.links, .projectTitleContainer .projectTitle, .footerText{
		font-size: 25px !important;
	}
}

@media (max-width: 350px) {
	.nameLogo h1 {
	    font-size: 3em !important;
	}

	.links, .projectTitleContainer .projectTitle, .footerText{
		font-size: 20px !important;
	}
}

.description > span > a {
	color: #444;
	transition: 0.3s;
}

.description > span > a:hover {
	color: #000;
}

.imageBox{
	/*width: 1020px;
    margin: 0 auto;*/
}

.nameLogo{
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	padding-top: 15px;
}

.nameLogo h1 {
	font-size: 5em;
}

.logo{
	background-size: 300px !important;
	height: 100px;
}

.logoContainer {

}

.labels{
	display: none;
	padding-top: 15px;
	/*float: left;
	margin-top: 35px;
	margin-left: 30px;*/
}

.label{
	padding: 5px;
	background-color: #444;
	float: left;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	margin: 10px;
    margin-left: 0;
    margin-top: 0;
	text-transform: uppercase;
}

.projectTitleContainer {

}

.projectTitleContainer .projectTitle{
	font-size: 35px;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	margin: 10px;
	margin-top: 50px;
}

#presentation{
	/*height: 100%;
	width: 100%;*/
}

.links{
	font-family: 'Fjalla One', sans-serif;
	font-size: 30px;
	margin: auto;
	/*width: 555px;
    margin: 0 auto;
	margin-top: 60px;*/
	text-transform: uppercase;
}

.link{
	text-decoration: none;
	color: #888;
	margin: 10px;
}

.link:hover{
	color: #000;
}

/* Colors for each project */

#kulturskolan{
	background: rgba(90, 212, 128, 0.5);
}

#playalong{
	background: rgba(57, 57, 57, 0.5);
}

#studyalong{
	background: rgba(214, 91, 91, 0.5);
}

#peppypals{
	background: rgba(250, 200, 150, 0.5);
}

#norrsken{
	background: rgba(170, 217, 245, 0.5);
}

#brarwl{
	background: rgba(112, 155, 193, 0.5);
}

#operationgame{
	background: rgba(230, 164, 55, 0.5);
}

#untitledgame{
	background: rgba(255, 107, 8, 0.5);
}

#tidebanan{
	background: rgba(237, 112, 92, 0.5);
}

#hapticdrums{
	background: rgba(150, 242, 219, 0.5);
}

#happiness-health{
	background: rgba(106, 185, 195, 0.5);
}

#energyclock{
	background: rgba(255, 212, 69, 0.5);
}

#memonile{
	background: rgba(138, 190, 255, 0.5);
}

#kinectable{
	background: rgba(164, 255, 81, 0.5);
}

#visit{
	background: rgba(164, 96, 93, 0.5);
}

#battlefieldDB{
	background: rgba(115, 97, 32, 0.5);
}

#tictactoe{
	background: rgba(119, 119, 119, 0.5);
}

/* Logos */

#kulturskolanlogo {
	background: url('img/kulturskolan-logo.png') no-repeat center center;
}

#playalonglogo {
	background: url('img/playalong-logo.png') no-repeat center center;
}

#studyalonglogo {
	background: url('img/studyalong-logo.png') no-repeat center center;
}

#peppypalslogo{
	background: url('img/peppypals-logo.png') no-repeat center center;
}

#norrskenlogo{
	background: url('img/norrsken-logo.png') no-repeat center center;
}

#untitledgamelogo{
	background: url('img/untitledgame-logo.png') no-repeat center center;
}

#brarwllogo{
	background: url('img/brarwl-logo.png') no-repeat center center;
}

#bcaflogo{
	background: url('img/bcaf-logo.png') no-repeat center center;
}

#tidebananlogo{
	background: url('img/tidebanan-logo.png') no-repeat center center;
}

#drumtasticlogo {
	background: url('img/drumtastic-logo.png') no-repeat center center;
}

#happinesshealthlogo {
	background: url('img/happiness-health-logo.png') no-repeat center center;
}

#energyclocklogo {
	background: url('img/energyclock-logo.png') no-repeat center center;
}

#memonilelogo {
	background: url('img/memonile-logo.png') no-repeat center center;
}

#kinectablelogo {
	background: url('img/kinectable-logo.png') no-repeat center center;
}

#visitlogo {
	background: url('img/visit-logo.png') no-repeat center center;
}

#battlefieldDBlogo {
	background: url('img/battlefieldDB-logo.png') no-repeat center center;
}

#tictactoelogo {
	background: url('img/tictactoe-logo.png') no-repeat center center;
}