/* Font face - Circular */
@font-face {
    font-family: circular;
    src: url(../fonts/CircularStd-Book.otf);
}
@font-face {
    font-family: circular;
    src: url(../fonts/CircularStd-BookItalic.otf);
    font-style: italic;
}
@font-face {
    font-family: circular;
    src: url(../fonts/CircularStd-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: circular;
    src: url(../fonts/CircularStd-BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}
/* End of font face */

body {
	font-family: circular, sans-serif !important;
}

p {
	margin: 1em 0 !important;
}

a.supportLink {
	color: #000 !important;
	text-decoration: underline !important;
}

a:hover{
	text-decoration: none !important;
}

a.supportLink:hover {
	text-decoration: underline !important;
}

#header .logo {
	background: url("../img/studyalong_logo_black.png") no-repeat;
	background-size: 100%;
	width: 100px;
	height: 50px;
}

#innerContainer {
	padding: 0;
}

.mainImage {
	background: url("../img/header.png") no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 600px;
	padding: 50px;
	line-height: 500px;
  	text-align: center;
  	opacity: 0;
}

@media screen and (min-device-width: 800px){
	.mainImage {
	    background-attachment: fixed;
	}
}

.mainImage h2 {
	color: #fff;
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
}

.mainImage .arrow {
	margin: 0 auto;
	margin-top: -60px;
    background-image: url(../img/arrow.png);
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
    background-repeat: no-repeat;
    background-size: 60px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

@media screen and (min-device-width: 800px){
	.mainImage .arrow:hover {
	    background-image: url(../img/arrow_inverted.png);
	}
}

section {

}

section.white {
	background: #fff;
}

section.grey {
	background: #f1f1f1;
}

section h2 {
	text-align: center;
	font-weight: bold;
	margin: 50px 0;
}

section h2.onlyBottom {
	margin-top: 0;
}

section h4 a {
	color: #000;
	text-decoration: underline;
}

section h4 a:hover {
	color: #000;
}

#uspContainer {
	margin-top: 50px;
	margin-bottom: 160px;
	max-width: 530px;
    /*padding: 0;*/
}

@media (max-width: 575px) {
	#uspContainer {
		padding: 0 50px;
	}
}

#uspContainer ul {

}

#usp {
	/*text-align: center;*/
	margin: 15px 0;
	font-size: 20px;
	padding: 0;
}

#usp li {

}

.screenShotImage {
	background: url("../img/presentation.png") no-repeat;
	background-size: 100%;
	width: 900px;
	height: 450px;
	margin: 0 auto;
	margin-top: -141px;
	opacity: 0;
}

.row.knowMore {
	max-width: 924px;
	margin: 0 auto;
	display: flex;
	padding-bottom: 50px !important;
}

.row.knowMore .borderLeft {
	border-left: 1px solid;
}

.row.knowMore .left {
	padding-right: 25px !important;
}

.row.knowMore .right {
	padding-left: 25px !important;
}

@media (max-width: 991px) {
	.screenShotImage {
		width: 700px;
		height: 350px;
		margin-top: -110px;
	}
	#uspContainer {
		margin-bottom: 130px;
	}
}

@media (max-width: 924px) {
	.row#imageTextContainer, .row.knowMore {
		margin-right: -15px !important;
    	margin-left: -15px !important;
	}
}

@media (max-width: 767px) {
	.screenShotImage {
		width: 500px;
		height: 250px;
		margin-top: -78px;
	}
	#uspContainer {
		margin-bottom: 100px;
	}
	.roundedButton {
		float: none !important;
		width: unset !important;
		max-width: 280px;
		margin: 0 auto;
	}
	#innerTextContainer {
		max-width: 280px;
		margin: 0 auto;
		margin-top: 50px;
	}
	.row.knowMore .borderLeft {
		border-left: none;
	}
	.row.knowMore .left {
		padding-right: 0 !important;
	}
	.row.knowMore .right {
		padding-left: 0 !important;
	}
}

@media (max-width: 550px) {
	.screenShotImage {
		width: 300px;
		height: 150px;
		margin-top: -47px;
	}
	#uspContainer {
		margin-bottom: 70px;
	}
}

.roundedButton {
	/*max-width: 280px;*/
	width: 280px;
    /*margin: 0 auto;*/
    float: right;
	border: 1px solid #000;
    border-radius: 20px;
    min-width: 53px;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 15px;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    color: #000;
    text-align: center;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

@media only screen and (min-device-width: 1024px){
	.roundedButton:hover {
	    color: #fff;
	    background-color: #000;
	}
}

@media (min-width: 576px) {
	.image {
		margin-right: 25px;
	}
	.row#imageTextContainer .wrapper {
		margin-left: 25px;
	}
}

.image {
	height: 300px;
}

.image#coursefinder {
	background: url("../img/kurskatalog.png") no-repeat;
	background-size: contain;
	background-position: center;
}

.image#programmefinder {
	background: url("../img/kulturbokning.png") no-repeat;
	background-size: contain;
	background-position: center;
}

.image#admin {
	background: url("../img/mittschema.png") no-repeat;
	background-size: contain;
	background-position: center;
}

.image#community {
	background: url("../img/irum.png") no-repeat;
	background-size: contain;
	background-position: center;
}

.image#videolesson {
	background: url("../img/videolektion.png") no-repeat;
	background-size: contain;
	background-position: center;
}

.row#logoContainer, #mainFooter, .row#testimonialContainer {
	padding: 50px;
}

.row#testimonialContainer {
	max-width: 924px;
    margin: 0 auto;
}

.row#header, .row#imageTextContainer {
	padding: 25px 50px;
}

.row.firstContainer {
	padding: 0 50px 25px 50px !important;
}

.row.lastContainer {
	padding: 25px 50px 50px 50px !important;
}

.row#paddingContainer {
	padding: 0 50px;
}

.row#imageTextContainer {
	max-width: 924px;
	margin: 0 auto;
	opacity: 0;
}

.row#imageTextContainer .wrapper {
	display: flex;
	height: 300px;
}

.row#imageTextContainer .wrapper .inner, .knowMore .inner {
	align-self: center;
}

@media screen and (min-width: 768px) {
	.row#logoContainer .logoHolder {
		-webkit-transition: opacity 0.2s ease-in-out;
	    -moz-transition: opacity 0.2s ease-in-out;
	    -o-transition: opacity 0.2s ease-in-out;
	    transition: opacity 0.2s ease-in-out;
	}

	.row#logoContainer .logoHolder:hover {
		opacity: 0.6;
	}
}

/*@media (max-width: 767px) {
	.row#imageTextContainer, .row#logoContainer, #mainFooter, .row#testimonialContainer {
		padding: 20px;
	}
}*/


@media (max-width: 575px) {
	.row#imageTextContainer .wrapper {
		display: block;
		height: auto;
		margin: 15px 0 0 0;
	}
}

.testimonial h2, .testimonial h4 {
	font-weight: normal;
	text-align: center;
	margin-top: 0;
}

.testimonial h4 {
	margin-bottom: 0;
}

#logoContainer .logo {
	opacity: 0;
}

.logoHolder {
	height: 200px;
	width: 200px;
	margin: 0 auto;
}

.logoHolder#botkyrka {
	background: url("../img/botkyrka.png") no-repeat;
	background-position: center;
	background-size: 100px;
}

.logoHolder#danderyd {
	background: url("../img/danderyd.png") no-repeat;
	background-position: center;
	background-size: 150px;
}

.logoHolder#eskilstuna {
	background: url("../img/eskilstuna.png") no-repeat;
	background-position: center;
	background-size: 150px;
}

.logoHolder#vasteras {
	background: url("../img/vasteras.png") no-repeat;
	background-position: center;
	background-size: 150px;
}

.logoHolder#sollentuna {
	background: url("../img/sollentuna.png") no-repeat;
	background-position: center;
	background-size: 100px;
}

.logoHolder#haninge {
	background: url("../img/haninge.png") no-repeat;
	background-position: center;
	background-size: 150px;
}

.logoHolder#solna {
	background: url("../img/solna.png") no-repeat;
	background-position: center;
	background-size: 100px;
}

.logoHolder#strangnas {
	background: url("../img/strangnas.png") no-repeat;
	background-position: center;
	background-size: 200px;
}

.logoHolder#varmdo {
	background: url("../img/varmdo.png") no-repeat;
	background-position: center;
	background-size: 200px;
}

.logoHolder#tyreso {
	background: url("../img/tyreso.png") no-repeat;
	background-position: center;
	background-size: 200px;
}

.logoHolder#sodertalje {
	background: url("../img/sodertalje.png") no-repeat;
	background-position: center;
	background-size: 150px;
}

.logoHolder#taby {
	background: url("../img/taby.png") no-repeat;
	background-position: center;
	background-size: 150px;
}

.logoHolder#stromsund {
	background: url("../img/stromsund.png") no-repeat;
	background-position: center;
	background-size: 200px;
}

.logoHolder#kulturskolan {
	background: url("../img/kulturskolan.png") no-repeat;
	background-position: center;
	background-size: 150px;
}

.logoHolder#vkb {
	background: url("../img/vasterasstad.png") no-repeat;
	background-position: center;
	background-size: 150px;
}

@media (min-width: 576px) {
	.footerBoxLeft div {
		margin-right: 25px;
	}
	.footerBoxRight div {
		margin-left: 25px;
	}
}

@media (max-width: 575px) {
	.footerBoxLeft div {
		margin-bottom: 25px;
	}
	.footerBoxRight div {
		margin-bottom: 25px;
	}
	.lastFooterBox div {
		margin-bottom: 0 !important;
	}
}

#mainFooter h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

#mainFooter p {
	font-size: 14px;
	max-width: 400px;
}

#mainFooter .iconHolder {
    width: 40px;
    height: 40px;
    background-size: 40px !important;
    display: inline-block;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

#mainFooter .iconHolder:hover {
    opacity: 0.6;
}

#mainFooter .iconHolder#facebookIcon {
	background: url(../img/facebook.png);
}