body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Bree Serif', serif;
}

.mainText {
	font-size: 20px;
}

.logo {
	position: absolute;
    z-index: 2;
    top: 25px;
    left: 25px;
}

.logo img {
	height: 120px;
}

.container#middleContainer {
	margin-top: 10px;
	margin-bottom: 50px;
}

.container#footer {
	margin-bottom: 20px;
}

@media (max-width: 900px){
	#body_login {
		background-size: 1035px;
	}
}