body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Bree Serif', serif;
}

.mainText {
	font-size: 20px;
}

.logo {
	position: absolute;
    z-index: 5;
    top: 25px;
    left: 25px;
}

.logo img {
	height: 120px;
}

.container#middleContainer {
	margin-top: 10px;
	margin-bottom: 250px;
}

.container#middleContainerAboutPage {
	margin-top: 10px;
	margin-bottom: 30px;
}

.container#footer {
	margin-bottom: 20px;
}

.dropdown {
	margin-top: 20px;
}

.dropdown button, .dropdown .dropdown-menu {
	width: 300px;
}

@media (max-width: 415px){
	.dropdown button, .dropdown .dropdown-menu {
		width: 100%;
	}
}

@media (max-width: 600px){
	.logo {
	    top: 15px;
	    left: 15px;
	}
	.logo img {
		height: 70px;
	}
}